/KonversiUangTim1_ANT/dist/
/KonversiUangTim1_ANT/build/
KonversiUangTim1_ANT/nbproject/private/private.xml
KonversiUangTim1_ANT/nbproject/private/private.properties
KonversiUangTim1_ANT/nbproject/private/private.xml
